body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
}

.container_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner_container_popup {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    position: relative;
    padding: 10px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    height: 100%;
    max-height: 200px;
    padding: 30px;
    border-radius: 6px;
}

.create_popup {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.active {
    background-color: #F7ECDC;
}

.popup_title {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.inner_container_popup h2 {
    font-size: 29px;
    display: inline;
    margin: 0;
}

.group_name {
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.popup_name {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.popup_name button {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(252, 92, 92);
    font-weight: 700;
    border: none;
    padding-top: 2px;
    cursor: pointer;
}

.inner_container_popup label {
    font-size: 22px;
}

.group_name input {
    border: 2px solid #CCCCCC;
    border-radius: 22px;
    height: 28px;
    padding: 0 20px;
    margin-left: 30px;
    align-items: center;
    font-size: 15px;
}

.color_choice {
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.color_choice div {
    margin-right: 20px;
    font-size: 22px;
}

.color_button {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 7px;
    cursor: pointer;
}

.create_popup {
    background: #000000;
    border-radius: 11px;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.sidebar_container {
    min-width: 25%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin-left: 20px;
}

.brand {
    font-size: 28px;
    margin: 20px 0;
}

.sidebar_create_button {
    background: #000000;
    border-radius: 50px;
    color: white;
    margin: 20px 0;
    width: 80%;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.group {
    width: 100%;
    height: 79vh;
    overflow: scroll;
    overflow-x: hidden;
}

.group::-webkit-scrollbar {
    width: 4px;
    height: 100%;
    background: #CCCCCC
}

.group::-webkit-scrollbar-thumb {
    background: gray
}

.group_div {
    width: 100%;
    height: 70px;
    border-radius: 32px 0px 0px 32px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.group_profile {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin: 0 10px;
}

.group_title {
    font-size: 20px;
    margin-left: 5px;
}

.delete_div {
    display: flex;
    justify-content: right;
    height: 0px;
}

.delete {
    height: 30px;
    width: 25px;
    position: relative;
    bottom: 55px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
}

.delete_div img {
    height: 25px;
    position: relative;
    right: 7px;
}


/* main body */

.main_container {
    width: 75%;
}

.mobile_main_container {
    width: 100%;
}

.main_title_div {
    width: 100%;
    display: flex;
    align-items: center;
    height: 10%;
    background-color: #e8e8e8;
}

.main_title {
    font-size: 25px;
}

.main_content {
    width: 100%;
    height: 65%;
    background-color: #F7ECDC;
    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.main_content::-webkit-scrollbar {
    width: 10px;
    height: 100%;
    background: #F7ECDC
}

.main_content::-webkit-scrollbar-thumb {
    background: gray
}

.main_content_div {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.content_div {
    display: flex;
    min-height: 40px;
    margin: 20px 0;
}

.content_date {
    width: 100px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
}

.content_body {
    margin: 0 40px 0 70px;
    width: 80%;
    font-size: 22px;
    font-weight: 400;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.main_empty {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCCC;
    font-size: 40px;
    background-color: #F7ECDC;
}

.textarea_div {
    height: 23%;
    width: 100%;
    border-radius: 0 0 0 9px;
    background-color: #e8e8e8;
    display: flex;
}

.textarea_div textarea {
    height: 65%;
    width: 100%;
    min-width: 100px;
    margin: 10px 0px 0 20px;
    resize: none;
    padding: 20px 60px 20px 20px;
    font-size: 25px;
    border-radius: 9px 9px 9px 9px;
    border: none;
}

.textarea_div textarea::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: #F7ECDC
}

.textarea_div textarea:focus {
    outline: none;
}

.textarea_right {
    height: 89%;
    width: 10%;
    margin: 10px 0px 0 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0 9px 9px 0;
}

.send {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: white;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    top: 110px;
    right: 60px;
}

.textarea_div img {
    height: 30px;
    width: 30px;
}

.mobile_open_sidebar {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile_open_sidebar img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 800px) {
    .main_container {
        display: none;
    }
    .sidebar_container {
        width: 100%;
    }
    .mobile_open_sidebar {
        display: inline;
    }
    .inner_container_popup {
        width: 100%;
        padding: 40px;
    }
    .color_button {
        margin: 3px;
    }
    .create_popup {
        height: 25px;
        margin-top: 20px;
    }
    .content_date {
        width: 120px;
        margin: 0;
    }
    .content_body {
        margin: 0;
    }
}